:root {
    --bg-color-light: #f5f5f5;
    --text-color-light: #333;
    --bg-color-dark: #333;
    --text-color-dark: #fff;
  }
  body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
  }
  
  .dark-theme {
    body {
      background-color: var(--bg-color-dark);
      color: var(--text-color-dark);
    }
  }
    